/*
Theme Name: Cheedan
Author: n8chz
Author URI: https://astoundingteam.com
Version: 1.0
 */

@font-face {
  font-family: liberation-sans;
  src: url(LiberationSans-Bold.woff),
  src: url(LiberationSans-BoldItalic.woff),
  src: url(LiberationSans-Italic.woff),
  src: url(LiberationSans-Regular.woff);
}

@font-face {
  font-family: unifont-upper;
  src: url(assets/fonts/unifont_upper-13.0.01.woff);
}

body {
  padding: 30px;
  font-family: liberation-sans, unifont-upper;
  font-size: 18px;
}

footer {
  float: left;
}

.post {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
}

.post + .post {
  margin-top: 3rem;
}

.comment {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
}

#main {
  width: 79%;
  float: left;
}

#primary {
  vertical-align: top;
  width: 19%;
  float: right;
}

a.page-numbers {
  padding: 0.5rem;
  background-color: black;
  color: white;
}

.page-numbers + .page-numbers {
  margin-left: 2rem;
}

dt {
  font-weight: bold;
}

* + dt {
  margin-top: 1rem;
}

dd + dd {
  margin-top: 0.5rem;
}

ol, ul {
  margin-left: 3rem;
}

figcaption {
  font-style: italic;
  text-align: center;
}

table {
  border-collapse: collapse;
}

td, th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid black;
}
